/* HEADER */
header {
    height: 10vh;
    width: 100vw;
    border-bottom: 10px double var(--accent);
    display: flex;
    justify-content: space-between;
}

#left {
    display: flex;
    justify-content: flex-start;
}

#page-title {
    display: flex;
    text-align: center;
    margin: 10px;
    padding: 2px 5px 2px 5px;
    color: var(--accent);
}

#right {
    display: flex;
    justify-content: flex-end;
}

form {
    display: flex;
}

#back {
    display: flex;
    align-items: center;
    margin: 10px;
    background-color: var(--accent);
    color: var(--background);
}
#back:hover {
    background-color: var(--hover);
}

#theme {
    order: 1;
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: var(--accent);
    color: var(--background);
}

#theme:hover {
    background-color: var(--hover);
}

/* BLOG POSTS SECTION */
section {
    height: 70vh;
}

/* FOOTER */
footer {
    height: 12vh;
    border-top: 10px double var(--accent);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}
footer a {
    display: flex;
    font-size: 12px;
    text-decoration: none;
    color: var(--accent);
    margin-top: 10px;
    margin-left: 25px;
}

footer p {
    display: flex;
    font-size: 12px;
    color: var(--accent);
    margin-left: 25px;
}