/* GENERAL */
main {
    width: 100vw;
    height: 87vh;
}

/* HEADER */
/* Create and style the header and light/dark button */
header {
    height: 10vh;
    border-bottom: 10px double var(--accent);
    display: flex;
    justify-content: flex-end;
}

#theme {
    order: 1;
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: var(--accent);
    color: var(--background);
}

/* Create light/dark button hover effect */
#theme:hover {
    background-color: var(--hover)
}

/* LEFT SIDE */
/* Create left half of page and center items */
#left {
    position: relative;
    text-align: center;
    float: left;
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Create the circle graphic */
.circle {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#FFC000, #FFC000, #484848);
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 0;
   }

/* Create and position the title */
h1 {
    font-size: 7vh;
    color: #F8F8F8;
    text-shadow: 1px 1px #080808;
    position: absolute;
}

/* RIGHT SIDE */
/* Create right half of page and position form elements */
#right {
    float: right;
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 10px double var(--accent);
}

h2 {
    width: 100%;
    margin: 0;
    text-align: center;
    color: var(--accent);
}

form {
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

label {
    margin-bottom: 5px;
    color: var(--accent);
}

input {
    background-color: #F8F8F8;
    color: #080808;
}

textarea {
    background-color: #F8F8F8;
    color: #080808;
}

#submit {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 2px 0 2px 0;
    background-color: var(--submit);
    color: var(--background);
}

/* Create submit button hover effect */
#submit:hover {
    background-color: var(--hover);
}