:root {
    --accent: #080808;
    --submit: #080808;
    --background: #F8F8F8;
    --hover: #404040;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: var(--background);
   margin: 0;
   padding: 0;
}

header {
    height: 10vh;
    border-bottom: 10px double var(--accent);
    display: flex;
    justify-content: flex-end;
}

#theme {
    margin: 10px;
    display: flex;
    background-color: var(--accent);
    color: var(--background);
}

#theme:hover {
    background-color: var(--hover)
}